<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>PMU Dashboard</title>
</head>
<body>
<section layout:fragment="content">

    <!-- Display Success Message -->
    <div th:if="${success}" class="alert alert-success">
        <p th:text="${success}"></p>
    </div>

    <!-- Display Error Message -->
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>

</section>
</body>
</html>
